html, body, *p{
  margin:0;
  font-family: 'Montserrat',sans-serif;
}

.logo_name {
  text-align: center;
  font-family: 'Lovers Quarrel';
  font-size: 170px;
}

.nav_space{
  margin:0 5vw !important;
}


.impair,
.pair {
  display: grid;
  padding: 10vh 3vw;
  margin: 5vh 5vw;
}

.impair {
 /* grid-template-columns: 30% 70%; */
 grid-template-columns:  40% 50%;
 align-items:center;
 justify-content: space-between;
border-top:2px solid rgb(0 0 0 / 25%);
border-bottom: 2px solid rgb(0 0 0 / 25%);
}

.pair {
  /*grid-template-columns: 70% 30%;*/
  grid-template-columns:  50% 40%;
  align-items:center;
  justify-content: space-between;

}

.images {
  box-shadow: 12px 11px 5px 0px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 12px 11px 5px 0px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 12px 11px 5px 0px rgba(0, 0, 0, 0.48);
}

.image {
  box-shadow:  5px 8px 4px rgb(0 0 0 / 25%);
  -webkit-box-shadow:  5px 8px 4px rgb(0 0 0 / 25%);
  -moz-box-shadow:  5px 8px 4px rgb(0 0 0 / 25%);
}
