html,
body,
*p {
  margin: 0 !important;
  font-family: "Montserrat", sans-serif !important;
}

.uk-navbar-container {
  background-color: white !important;
}
/*section home*/

.section_home_title {
  padding: 2vw 2vh;
}

.uk-icon > * {
  color: #a9a9a9 !important;
}
.nav_space:hover {
  color: orange !important;
}

.title {
  line-height: 1.2;
  font-size: 32px;
  font-weight: 400;
  margin: 0 0 30px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-bottom: 1px solid;
  padding: 10px;
  color: black;
}
.default_img {
  width: 29vw !important;
  height: 40vh !important;
}
.logo_name {
  font-family: "Lovers Quarrel";
  text-align: center;
  font-size: 170px;
  color: black;
  margin: 0 0 -40px 0 !important;
  letter-spacing: 2px;
}
.logo_name:hover {
  cursor: pointer;
}

.nav_space {
  margin: 0 2vw !important;
}

.section {
  text-align: center;
  font-size: 65px;
  background: #1c1d21;
  color: white;
  padding: 20px;
}

.uk- {
  display: flex;
  justify-content: center;
}

.section_slide {
  margin: 2vh 0;
}

.impair,
.pair {
  display: grid;
  padding: 10vh 3vw;
  margin: 5vh 5vw;
}

.impair {
  /* grid-template-columns: 30% 70%; */
  grid-template-columns: 40% 50%;
  align-items: center;
  justify-content: space-between;
  /* border-top:2px solid rgb(0 0 0 / 25%);
border-bottom: 2px solid rgb(0 0 0 / 25%); */
}

.pair {
  /*grid-template-columns: 70% 30%;*/
  grid-template-columns: 50% 40%;
  align-items: center;
  justify-content: space-between;
}

.images {
  box-shadow: 12px 11px 5px 0px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 12px 11px 5px 0px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 12px 11px 5px 0px rgba(0, 0, 0, 0.48);
}

.image {
  box-shadow: 5px 8px 4px rgb(0 0 0 / 25%);
  -webkit-box-shadow: 5px 8px 4px rgb(0 0 0 / 25%);
  -moz-box-shadow: 5px 8px 4px rgb(0 0 0 / 25%);
}

/* Section Contact*/

.section_contact {
  display: grid;
  grid-template-columns: 55% 45%;
  height: 75vh;
  padding: 2vw;
  margin-top: 10vh;
}

.section_contact_form {
  display: grid;
  margin: 2vh 0;
}
.message_form {
  resize: none;
}

.section_contact_information {
  padding: 0 2vw;
}

.field_form {
  margin: 1vh 0;
}

.mark {
  margin-top: 4vh !important;
  margin-bottom: -2vh !important;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}

.footer {
  display: grid;
  justify-content: center;
  margin-top: 5vh;
  background-color: #f8fafc;
  padding: 5vh;
}

.footer > p {
  color: black !important;
  text-align: center;
}

.socialNetwork {
  display: grid;
  justify-content: space-evenly;
  flex-direction: row;
}

.cont {
  margin-top: 100px;
}

/* Media query*/

@media (max-width: 276px) {
  .logo_name {
    font-size: 20px;
    color: red;
  }
  .default_img {
    width: 28vw !important;
    height: 23vh !important;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  .logo_name {
    font-size: 134px;
    margin: 0 !important;
  }

  .footer {
    margin-top: 20vh;
  }
  .default_img {
    width: 29vw !important;
    height: 40vh !important;
  }

  .section {
    text-align: center;
    font-size: 50px;
    background: #1c1d21;
    color: white;
    padding: 10px;
  }

  .cont {
    margin-top: 80px;
  }
}

@media (max-width: 992px) {
  .logo_name {
    /*  font-size: 50px;*/
  }
}
